<div class="contenedor-principal">
  <div class="tarjeta">
    <h2>Crear Espectrómetro</h2>
    
    <div>
      <label>Nombre del Espectrómetro</label>
      <input type="text" [(ngModel)]="nombre" placeholder="Ej: Bruker Avance NEO">
    </div>

    <div>
      <label>Sondas (separadas por coma)</label>
      <input type="text" [(ngModel)]="sondasInput" placeholder="Ej: PABBI (5mm), PASEX (10mm)">
    </div>

    <button (click)="guardarEspectrometro()">
      Guardar Espectrómetro
    </button>
  </div>
</div>