<div class="container largo">
  <section class="row">
    <div class="col">
      <mat-form-field appearance="fill" class="mat-form-field-lg" style="width: 100%;">
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput placeholder="Ej: Laboratorio Central" type="text" [(ngModel)]="usuario.name">
      </mat-form-field>
    </div>
  </section>

  <section class="row">
    <div class="col">
      <mat-form-field appearance="fill" class="mat-form-field-lg" style="width: 100%;">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput placeholder="usuario@empresa.com" type="email" [(ngModel)]="usuario.email">
      </mat-form-field>
    </div>
  </section>

  <section class="row">
    <div class="col">
      <mat-form-field appearance="fill" class="mat-form-field-lg" style="width: 100%;">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Asigna una contraseña" type="password" [(ngModel)]="usuario.password">
      </mat-form-field>
    </div>
  </section>

  <section class="row flex_button_inline" style="display: flex; gap: 10px; margin-top: 15px;">
    <button mat-raised-button color="warn" routerLink="/listar-usuarios">
      <mat-icon>arrow_back</mat-icon>
      Volver
    </button>

    <button mat-raised-button color="primary" (click)="guardarUsuario()">
      Guardar
      <mat-icon>save</mat-icon>
    </button>
  </section>
</div>