<div class="contenedor-principal">
  <div class="tarjeta">
    <h2>Crear Nuevo Usuario</h2>
    
    <div>
      <label>Nombre del Laboratorio</label>
      <input type="text" 
             name="userName"
             [(ngModel)]="usuario.name" 
             placeholder="Ej: Laboratorio Central">
    </div>

    <div>
      <label>Correo Electrónico</label>
      <input type="email" 
             name="userEmail"
             [(ngModel)]="usuario.email" 
             placeholder="usuario@empresa.com">
    </div>

    <button (click)="guardarUsuario()">
      Guardar Usuario
    </button>
  </div>
</div>