<div class="container largo">
  <section class="row">
    <div class="col-md-12">
      <ag-grid-angular
        style="width: 100%; height: 500px;"
        class="ag-theme-alpine"
        [rowData]="usuarios"
        [columnDefs]="columnDefs"
        [pagination]="true"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </section>

  <section class="row flex_button_inline" style="margin-top: 15px;">
    <button mat-raised-button color="primary" routerLink="/nuevo-usuario">
      <mat-icon>add</mat-icon>
      Nuevo Usuario
    </button>
  </section>
</div>