<div class="contenedor-formulario">
  <h2>Crear Muestra</h2>

  <mat-form-field appearance="fill" class="campo-completo">
    <mat-label>Espectrómetro</mat-label>
    <mat-select [(ngModel)]="registro.espectrometro" (selectionChange)="actualizarSondas()">
      <mat-option *ngFor="let esp of listaEspectrometros" [value]="esp">{{ esp }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="campo-completo">
    <mat-label>Sondas</mat-label>
    <mat-select [(ngModel)]="registro.sonda" [disabled]="!registro.espectrometro">
      <mat-option *ngFor="let sonda of sondasDisponibles" [value]="sonda">{{ sonda }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="campo-completo">
    <mat-label>Fecha Entrada</mat-label>
    <input matInput type="date" [(ngModel)]="registro.fechaEntrada">
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 15px;">
  <mat-label>Usuario</mat-label>
  <mat-select [(ngModel)]="registro.usuario" name="usuario">
    <mat-option *ngFor="let u of listaUsuarios" [value]="u.id || u._id">
      {{ u.nombre }}
    </mat-option>
  </mat-select>
</mat-form-field>

  <mat-form-field appearance="fill" class="campo-completo">
    <mat-label>Nombre de la muestra</mat-label>
    <input matInput type="text" [(ngModel)]="registro.nombreMuestra">
  </mat-form-field>

  <mat-form-field appearance="fill" class="campo-completo">
    <mat-label>Id Solicitud</mat-label>
    <input matInput type="text" [(ngModel)]="registro.idSolicitud">
  </mat-form-field>

  <div class="opciones-checkbox">
    <mat-checkbox [(ngModel)]="registro.finalizado" color="primary">Finalizado</mat-checkbox>
    <mat-checkbox [(ngModel)]="registro.recuperarMuestra" color="primary">Recuperar Muestra</mat-checkbox>
  </div>

  <button mat-raised-button color="primary" class="boton-guardar" (click)="guardarMuestra()">
    Guardar Muestra
  </button>
</div>